$default: #929292;
$dark-default: #3e8914;
$light-default: #6f6f6f;

$scroll-bar-default: #F5F5F5;

$header-default: #ff8811;
$primary: #ff8811;
$menu-options-default: darken($header-default, 10);

$focus-light: #4b64f1;
$button-action: #328914;
$button-action-light: #1065e4;

$success: #60b964;
$success-hover: lighten($success, 5);

$cancel: #bd3737;

$grid-even-lines: #fed99b
